-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "budget_status" AS ENUM ('REQUESTED', 'APPROVED', 'DISBURSED', 'SETTLED', 'REJECTED');
-- CreateEnum
CREATE TYPE "charger_type" AS ENUM ('GB_T', 'TYPE_2', 'CCS2', 'NONE');
-- CreateEnum
CREATE TYPE "commission_type" AS ENUM ('BROKER_REFERRAL', 'STAFF_SALE', 'STAFF_INSPECTION_BONUS');
-- CreateEnum
CREATE TYPE "custom_order_status" AS ENUM ('PENDING', 'REVIEWING', 'SOURCING', 'FOUND', 'DELIVERED', 'CANCELLED');
-- CreateEnum
CREATE TYPE "document_type" AS ENUM ('LIBRE', 'CUSTOMS_DECLARATION', 'BOL', 'INVOICE', 'ID_CARD', 'INSPECTION_PDF');
-- CreateEnum
CREATE TYPE "duty_status" AS ENUM ('DUTY_PAID', 'DUTY_FREE', 'PENDING');
-- CreateEnum
CREATE TYPE "expense_category" AS ENUM ('PURCHASE', 'SHIPPING', 'TRANSIT_INSURANCE', 'CUSTOMS_DUTY', 'PORT_STORAGE', 'SPARE_PARTS', 'LABOR', 'FUEL_TRANSPORT');
-- CreateEnum
CREATE TYPE "fuel_type" AS ENUM ('ELECTRIC', 'PETROL', 'DIESEL', 'HYBRID');
-- CreateEnum
CREATE TYPE "lead_source" AS ENUM ('DIRECT_WALKIN', 'TELEGRAM', 'WEBSITE', 'BROKER_REFERRAL', 'FACEBOOK');
-- CreateEnum
CREATE TYPE "payment_status" AS ENUM ('PENDING', 'PARTIAL', 'COMPLETED', 'REFUNDED');
-- CreateEnum
CREATE TYPE "price_change_reason" AS ENUM ('MARKET_ADJUSTMENT', 'CURRENCY_FLUCTUATION', 'REFURBISHMENT_ADDED', 'PROMOTIONAL_DISCOUNT');
-- CreateEnum
CREATE TYPE "role_type" AS ENUM ('USER', 'BROKER', 'STAFF', 'DISTRICT_MANAGER', 'GENERAL_MANAGER');
-- CreateEnum
CREATE TYPE "stamp_type_enum" AS ENUM ('FACE_ID_VERIFIED', 'FINGERPRINT_VERIFIED', 'PIN_STAMP');
-- CreateEnum
CREATE TYPE "task_priority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');
-- CreateEnum
CREATE TYPE "task_status" AS ENUM ('ASSIGNED', 'IN_PROGRESS', 'PENDING_REVIEW', 'COMPLETED', 'CANCELLED');
-- CreateEnum
CREATE TYPE "trade_in_status" AS ENUM ('NEW_LEAD', 'INSPECTION_PENDING', 'MANAGER_REVIEW', 'ESCALATED_TO_GM', 'OFFER_MADE', 'ACCEPTED', 'REJECTED', 'CLARIFICATION_REQUIRED', 'NEGOTIATING', 'RECONDITIONING', 'STALE', 'CLOSED_LOST');
-- CreateEnum
CREATE TYPE "vehicle_status" AS ENUM ('SOURCING', 'IN_TRANSIT', 'CUSTOMS', 'REFURBISHMENT', 'SHOWROOM', 'RESERVED', 'SOLD');

-- CreateTable
CREATE TABLE "districts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "region" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "code" VARCHAR(10),
    "manager_id" UUID,
    CONSTRAINT "districts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "branches" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "district_id" UUID,
    "address" TEXT,
    "phone" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "branches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "locations" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(255) NOT NULL,
    "code" VARCHAR(10),
    "address" TEXT,
    "manager_id" UUID,
    "phone_number" VARCHAR(20),
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "district_id" UUID,
    CONSTRAINT "locations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "roles" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "permissions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "role_permissions" (
    "role_id" UUID NOT NULL,
    "permission_id" UUID NOT NULL,
    CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("role_id","permission_id")
);

-- CreateTable
CREATE TABLE "profiles" (
    "id" UUID NOT NULL,
    "role" "role_type" DEFAULT 'USER',
    "full_name" VARCHAR(255) NOT NULL,
    "phone_number" VARCHAR(20),
    "location_id" UUID,
    "commission_tier" DECIMAL(5,2) DEFAULT 1.0,
    "avatar_url" TEXT,
    "is_verified" BOOLEAN DEFAULT false,
    "is_inspector_verified" BOOLEAN DEFAULT false,
    "gamification_points" INTEGER DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "performance_rating" DECIMAL(3,2) DEFAULT 5.0,
    "total_completed_tasks" INTEGER DEFAULT 0,
    "role_id" UUID,
    "branch_id" UUID,
    "district_id" UUID,
    "date_of_birth" DATE,
    "telegram_chat_id" TEXT,
    "fcm_token" TEXT,
    "fcm_meta" JSONB,
    "last_seen_at" TIMESTAMPTZ(6),
    "bio" TEXT,
    "username" VARCHAR(50),
    CONSTRAINT "profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "community_posts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "content" TEXT NOT NULL,
    "upvotes" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "images" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "youtube_url" TEXT,
    "post_type" VARCHAR(20) DEFAULT 'discussion',
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "is_edited" BOOLEAN DEFAULT false,
    CONSTRAINT "community_posts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vehicles" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "vin_chassis" VARCHAR(100) NOT NULL,
    "make" VARCHAR(100) NOT NULL,
    "model" VARCHAR(100) NOT NULL,
    "year" INTEGER NOT NULL,
    "fuel" "fuel_type" NOT NULL,
    "duty" "duty_status" NOT NULL,
    "battery_soh_percent" DECIMAL(5,2),
    "charger" "charger_type" DEFAULT 'NONE',
    "plate_code" VARCHAR(50),
    "software_language" VARCHAR(50) DEFAULT 'English',
    "current_mileage" INTEGER,
    "purchase_cost_usd" DECIMAL(12,2),
    "exchange_rate_at_purchase" DECIMAL(12,2),
    "shipping_customs_cost_etb" DECIMAL(12,2),
    "refurbishment_cost_etb" DECIMAL(12,2) DEFAULT 0.00,
    "total_landed_cost_etb" DECIMAL(12,2) DEFAULT 0.00,
    "retail_price_etb" DECIMAL(12,2) NOT NULL,
    "min_selling_price_etb" DECIMAL(12,2),
    "status" "vehicle_status" DEFAULT 'SOURCING',
    "location_id" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "branch_id" UUID,
    "images" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "internal_documents" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "certified_km" INTEGER,
    "range_km" INTEGER,
    "motor_power_kw" INTEGER,
    "drive_train" VARCHAR(20) DEFAULT 'RWD',
    "interior_color" VARCHAR(50),
    "battery_capacity_kwh" DECIMAL(10,2),
    "features" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "unit_cost" DECIMAL DEFAULT 0,
    "floor_plan_loan" BOOLEAN DEFAULT false,
    "maturity_date" TIMESTAMPTZ(6),
    "sold_date" TIMESTAMPTZ(6),
    "floor_plan_bank_id" UUID,
    "loan_reference_number" VARCHAR(100),
    CONSTRAINT "vehicles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "trade_in_requests" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "customer_id" UUID,
    "broker_id" UUID,
    "assigned_staff_id" UUID,
    "location_id" UUID,
    "vehicle_make_model" VARCHAR(255) NOT NULL,
    "car_description" TEXT,
    "user_asking_price_etb" DECIMAL(12,2),
    "final_dealer_offer_etb" DECIMAL(12,2),
    "staff_notes" TEXT,
    "dm_notes" TEXT,
    "gm_notes" TEXT,
    "status" "trade_in_status" DEFAULT 'NEW_LEAD',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "photos" JSONB DEFAULT '[]',
    "financing_requested" BOOLEAN DEFAULT false,
    "branch_id" UUID,
    "vehicle_details" JSONB DEFAULT '{}',
    "contact_phone" VARCHAR(20),
    "contact_city" VARCHAR(100),
    CONSTRAINT "trade_in_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "inspections" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "trade_in_id" UUID,
    "inspector_id" UUID NOT NULL,
    "mechanical_score" INTEGER,
    "exterior_score" INTEGER,
    "interior_score" INTEGER,
    "battery_health_score" INTEGER,
    "is_certified" BOOLEAN DEFAULT false,
    "pdf_report_url" TEXT,
    "libre_photo_url" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "checklist" JSONB DEFAULT '{}',
    "detailed_photos" JSONB DEFAULT '[]',
    "ev_data" JSONB DEFAULT '{}',
    "final_notes" TEXT,
    "vehicle_id" UUID,
    CONSTRAINT "inspections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staff_shifts" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "staff_id" UUID,
    "clocked_in_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "clocked_out_at" TIMESTAMPTZ(6),
    "location_id" UUID,
    "is_active" BOOLEAN DEFAULT true,
    "branch_id" UUID,
    CONSTRAINT "staff_shifts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "conversations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "customer_id" UUID,
    "vehicle_id" UUID,
    "last_message" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "telegram_chat_id" TEXT,
    "customer_name" TEXT,
    "source" TEXT DEFAULT 'WEB',
    "assigned_staff_id" UUID,
    "status" VARCHAR(20) DEFAULT 'OPEN',
    CONSTRAINT "conversations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "accounts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" VARCHAR(255) NOT NULL,
    "type" VARCHAR(50) NOT NULL,
    "balance" DECIMAL(15,2) NOT NULL DEFAULT 0.00,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT timezone('utc'::text, now()),
    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "approval_logs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "trade_in_id" UUID,
    "manager_id" UUID,
    "action" VARCHAR(50),
    "notes" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "approval_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "entity_type" VARCHAR(50) NOT NULL,
    "entity_id" UUID NOT NULL,
    "actor_id" UUID,
    "action" VARCHAR(50) NOT NULL,
    "previous_state" JSONB,
    "new_state" JSONB,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bank_partners" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(255) NOT NULL,
    "logo_url" TEXT,
    "base_interest_rate" DECIMAL(5,2),
    "is_active" BOOLEAN DEFAULT true,
    "interest_rate_percent" DECIMAL(5,2) DEFAULT 0,
    "min_down_payment_percent" DECIMAL(5,2) DEFAULT 20.00,
    "max_loan_term_months" INTEGER DEFAULT 84,
    "min_loan_amount_etb" DECIMAL(12,2) DEFAULT 100000,
    "max_loan_amount_etb" DECIMAL(12,2),
    "ev_incentive_discount_percent" DECIMAL(5,2) DEFAULT 0,
    "required_documents" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "processing_fee_percent" DECIMAL(5,2) DEFAULT 1.00,
    CONSTRAINT "bank_partners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "commissions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "beneficiary_id" UUID,
    "vehicle_id" UUID,
    "type" "commission_type" NOT NULL,
    "amount_etb" DECIMAL(12,2) NOT NULL,
    "is_paid" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "profit_margin" DECIMAL DEFAULT 0,
    "payout_date" TIMESTAMPTZ(6),
    "branch_id" UUID,
    "dm_verified_at" TIMESTAMPTZ(6),
    "approved_by" UUID,
    CONSTRAINT "commissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "crypto_audit_logs" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "actor_id" UUID,
    "action" VARCHAR(255) NOT NULL,
    "payload" JSONB NOT NULL,
    "prev_hash" VARCHAR(64) NOT NULL,
    "hash" VARCHAR(64) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT timezone('utc'::text, now()),
    CONSTRAINT "crypto_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "custom_orders" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "customer_name" VARCHAR(255) NOT NULL,
    "customer_phone" VARCHAR(30) NOT NULL,
    "make" VARCHAR(100) NOT NULL,
    "model" VARCHAR(100) NOT NULL,
    "year_range" VARCHAR(20) DEFAULT '2022-2025',
    "fuel_type" VARCHAR(20) DEFAULT 'ELECTRIC',
    "duty_preference" VARCHAR(20) DEFAULT 'DUTY_PAID',
    "budget_etb" DECIMAL(14,2),
    "notes" TEXT,
    "status" "custom_order_status" DEFAULT 'PENDING',
    "assigned_staff_id" UUID,
    "staff_notes" TEXT,
    "location_id" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "custom_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance_plans" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "customer_id" UUID,
    "vehicle_id" UUID,
    "bank_id" UUID,
    "total_price_etb" DECIMAL(12,2) NOT NULL,
    "down_payment_etb" DECIMAL(12,2) NOT NULL,
    "interest_rate_percent" DECIMAL(5,2) NOT NULL,
    "duration_months" INTEGER NOT NULL,
    "monthly_installment_etb" DECIMAL(12,2) NOT NULL,
    "is_approved" BOOLEAN DEFAULT false,
    "pdf_contract_url" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "status" VARCHAR(20) DEFAULT 'DRAFT',
    "trade_in_value_etb" DECIMAL(12,2) DEFAULT 0,
    "insurance_cost_etb" DECIMAL(12,2) DEFAULT 0,
    "processing_fee_etb" DECIMAL(12,2) DEFAULT 0,
    "total_payable_etb" DECIMAL(12,2) DEFAULT 0,
    "admin_notes" TEXT,
    CONSTRAINT "finance_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ledger_entries" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "transaction_id" UUID NOT NULL,
    "account_id" UUID NOT NULL,
    "type" VARCHAR(10) NOT NULL,
    "amount" DECIMAL(15,2) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT timezone('utc'::text, now()),
    CONSTRAINT "ledger_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "messages" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "conversation_id" UUID,
    "sender_id" UUID,
    "text" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "sender_name" TEXT,
    "source" TEXT DEFAULT 'WEB',
    "telegram_chat_id" TEXT,
    CONSTRAINT "messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "recipient_id" UUID,
    "title" VARCHAR(255) NOT NULL,
    "body" TEXT,
    "type" VARCHAR(50) DEFAULT 'INFO',
    "is_read" BOOLEAN DEFAULT false,
    "reference_id" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "action_url" TEXT,
    "metadata" JSONB DEFAULT '{}',
    "source" VARCHAR(20) DEFAULT 'SYSTEM',
    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "official_stamps" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "owner_id" UUID,
    "stamp_type" "stamp_type_enum",
    "signature_svg" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "official_stamps_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staff_achievements_catalog" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "icon_name" VARCHAR(50),
    "point_value" INTEGER DEFAULT 10,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "staff_achievements_catalog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staff_budgets" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "requester_id" UUID,
    "approver_id" UUID,
    "auditor_id" UUID,
    "amount_requested" DECIMAL(12,2) NOT NULL,
    "amount_approved" DECIMAL(12,2) DEFAULT 0.00,
    "purpose" TEXT NOT NULL,
    "status" "budget_status" DEFAULT 'REQUESTED',
    "receipt_gallery" TEXT[],
    "digital_signature_hash" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "receipt_url" TEXT,
    CONSTRAINT "staff_budgets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staff_reviews" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "staff_id" UUID,
    "reviewer_name" VARCHAR(100),
    "rating" INTEGER,
    "comment" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "staff_reviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staff_tasks" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "assigned_by" UUID,
    "assigned_to" UUID,
    "trade_in_id" UUID,
    "priority" "task_priority" DEFAULT 'MEDIUM',
    "status" "task_status" DEFAULT 'ASSIGNED',
    "description" TEXT,
    "deadline" TIMESTAMPTZ(6),
    "location_coordinates" point,
    "progress_notes" TEXT,
    "completed_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "staff_tasks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staff_unlocked_achievements" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "staff_id" UUID,
    "achievement_id" UUID,
    "unlocked_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "staff_unlocked_achievements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_logs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "actor_id" UUID,
    "action" VARCHAR(100) NOT NULL,
    "entity_type" VARCHAR(50),
    "entity_id" UUID,
    "details" JSONB,
    "ip_address" VARCHAR(45),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "system_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_settings" (
    "key" VARCHAR(100) NOT NULL,
    "value" TEXT NOT NULL,
    "updated_by" UUID,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "system_settings_pkey" PRIMARY KEY ("key")
);

-- CreateTable
CREATE TABLE "telegram_sessions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "telegram_chat_id" TEXT NOT NULL,
    "vehicle_id" UUID,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "current_step" TEXT,
    "form_data" JSONB DEFAULT '{}',
    CONSTRAINT "telegram_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "telegram_subscriptions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "telegram_chat_id" TEXT NOT NULL,
    "filter_type" TEXT DEFAULT 'ALL',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "telegram_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transactions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "description" TEXT NOT NULL,
    "reference_type" VARCHAR(100),
    "reference_id" UUID,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT timezone('utc'::text, now()),
    CONSTRAINT "transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vehicle_expenses" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "vehicle_id" UUID,
    "amount_etb" DECIMAL(12,2) NOT NULL,
    "category" "expense_category" NOT NULL,
    "description" TEXT,
    "logged_by" UUID,
    "receipt_url" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "vehicle_expenses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vehicle_price_history" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "vehicle_id" UUID,
    "old_retail_price" DECIMAL(12,2),
    "new_retail_price" DECIMAL(12,2),
    "changed_by" UUID,
    "reason" "price_change_reason",
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "vehicle_price_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_garages" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "make" VARCHAR(100) NOT NULL,
    "model" VARCHAR(100) NOT NULL,
    "year" INTEGER NOT NULL,
    "description" TEXT,
    "images" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "is_public" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "user_garages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "community_comments" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "post_id" UUID,
    "user_id" UUID,
    "content" TEXT NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "is_edited" BOOLEAN DEFAULT false,
    CONSTRAINT "community_comments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "community_event_rsvps" (
    "event_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "community_event_rsvps_pkey" PRIMARY KEY ("event_id","user_id")
);

-- CreateTable
CREATE TABLE "community_events" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "event_date" TIMESTAMPTZ(6) NOT NULL,
    "location" TEXT,
    "cover_image" TEXT,
    "event_type" TEXT DEFAULT 'meetup',
    "rsvp_count" INTEGER DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "community_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "community_follows" (
    "follower_id" UUID NOT NULL,
    "following_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "community_follows_pkey" PRIMARY KEY ("follower_id","following_id")
);

-- CreateTable
CREATE TABLE "community_notifications" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "actor_id" UUID,
    "type" TEXT NOT NULL,
    "post_id" UUID,
    "comment_id" UUID,
    "is_read" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "community_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sourcing_requests" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "customer_id" UUID,
    "assigned_staff_id" UUID,
    "make" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "min_year" INTEGER NOT NULL,
    "max_year" INTEGER NOT NULL,
    "max_mileage" INTEGER,
    "transmission" TEXT,
    "fuel_type" TEXT,
    "max_budget" DECIMAL(12,2) NOT NULL,
    "payment_method" TEXT NOT NULL,
    "must_have_features" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "exterior_colors" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "urgency" TEXT NOT NULL,
    "contact_name" TEXT NOT NULL,
    "contact_email" TEXT NOT NULL,
    "contact_phone" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'SUBMITTED',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "branch_id" UUID,
    "photos" TEXT[] DEFAULT ARRAY[]::TEXT[],
    CONSTRAINT "sourcing_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sourcing_matches" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "request_id" UUID NOT NULL,
    "vehicle_id" UUID,
    "make" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "match_score" INTEGER NOT NULL DEFAULT 95,
    "agent_note" TEXT,
    "budget_note" TEXT,
    "mileage_note" TEXT,
    "color_note" TEXT,
    "photos" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "video_url" TEXT,
    "diagnostic_checklist" JSONB DEFAULT '{}',
    "imperfections" JSONB DEFAULT '[]',
    "purchase_price" DECIMAL(12,2) NOT NULL,
    "sourcing_fee" DECIMAL(12,2) NOT NULL,
    "logistics_cost" DECIMAL(12,2) NOT NULL,
    "total_otd_cost" DECIMAL(12,2) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "reject_reason" TEXT,
    "expires_at" TIMESTAMP(3),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "sourcing_matches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "community_post_upvotes" (
    "post_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "community_post_upvotes_pkey" PRIMARY KEY ("post_id","user_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "districts_name_key" ON "districts"("name");
-- CreateIndex
CREATE UNIQUE INDEX "districts_code_key" ON "districts"("code");
-- CreateIndex
CREATE UNIQUE INDEX "branches_name_district_id_key" ON "branches"("name", "district_id");
-- CreateIndex
CREATE UNIQUE INDEX "locations_code_key" ON "locations"("code");
-- CreateIndex
CREATE INDEX "idx_locations_district_id" ON "locations"("district_id");
-- CreateIndex
CREATE UNIQUE INDEX "roles_name_key" ON "roles"("name");
-- CreateIndex
CREATE UNIQUE INDEX "permissions_name_key" ON "permissions"("name");
-- CreateIndex
CREATE UNIQUE INDEX "permissions_slug_key" ON "permissions"("slug");
-- CreateIndex
CREATE UNIQUE INDEX "profiles_phone_number_key" ON "profiles"("phone_number");
-- CreateIndex
CREATE UNIQUE INDEX "profiles_username_key" ON "profiles"("username");
-- CreateIndex
CREATE INDEX "idx_profiles_district_id" ON "profiles"("district_id");
-- CreateIndex
CREATE INDEX "idx_profiles_location_id" ON "profiles"("location_id");
-- CreateIndex
CREATE UNIQUE INDEX "vehicles_vin_chassis_key" ON "vehicles"("vin_chassis");
-- CreateIndex
CREATE INDEX "idx_vehicles_branch_id" ON "vehicles"("branch_id");
-- CreateIndex
CREATE INDEX "idx_vehicles_created_at" ON "vehicles"("created_at");
-- CreateIndex
CREATE INDEX "idx_vehicles_sold_date" ON "vehicles"("sold_date");
-- CreateIndex
CREATE INDEX "idx_vehicles_status" ON "vehicles"("status");
-- CreateIndex
CREATE INDEX "idx_trade_in_requests_branch_id" ON "trade_in_requests"("branch_id");
-- CreateIndex
CREATE INDEX "idx_trade_in_requests_location_id" ON "trade_in_requests"("location_id");
-- CreateIndex
CREATE INDEX "idx_trade_in_requests_status" ON "trade_in_requests"("status");
-- CreateIndex
CREATE INDEX "idx_inspections_vehicle" ON "inspections"("vehicle_id");
-- CreateIndex
CREATE INDEX "idx_conversations_assigned_staff" ON "conversations"("assigned_staff_id");
-- CreateIndex
CREATE INDEX "idx_conversations_status" ON "conversations"("status");
-- CreateIndex
CREATE INDEX "idx_conversations_telegram_chat" ON "conversations"("telegram_chat_id");
-- CreateIndex
CREATE UNIQUE INDEX "idx_conv_telegram_vehicle" ON "conversations"("telegram_chat_id", "vehicle_id") WHERE (telegram_chat_id IS NOT NULL);

-- CreateIndex
CREATE UNIQUE INDEX "accounts_name_key" ON "accounts"("name");
-- CreateIndex
CREATE INDEX "idx_audit_logs_entity" ON "audit_logs"("entity_type", "entity_id");
-- CreateIndex
CREATE UNIQUE INDEX "bank_partners_name_key" ON "bank_partners"("name");
-- CreateIndex
CREATE INDEX "idx_commissions_branch_id" ON "commissions"("branch_id");
-- CreateIndex
CREATE INDEX "idx_crypto_audit_logs_created_at" ON "crypto_audit_logs"("created_at");
-- CreateIndex
CREATE INDEX "idx_custom_orders_assigned_staff" ON "custom_orders"("assigned_staff_id");
-- CreateIndex
CREATE INDEX "idx_custom_orders_created_at" ON "custom_orders"("created_at" DESC);
-- CreateIndex
CREATE INDEX "idx_custom_orders_status" ON "custom_orders"("status");
-- CreateIndex
CREATE INDEX "idx_ledger_entries_account" ON "ledger_entries"("account_id");
-- CreateIndex
CREATE INDEX "idx_ledger_entries_transaction" ON "ledger_entries"("transaction_id");
-- CreateIndex
CREATE INDEX "idx_messages_conversation" ON "messages"("conversation_id", "created_at");
-- CreateIndex
CREATE INDEX "idx_notifications_created_at" ON "notifications"("created_at" DESC);
-- CreateIndex
CREATE INDEX "idx_notifications_recipient_id" ON "notifications"("recipient_id");
-- CreateIndex
CREATE INDEX "idx_notifications_recipient_unread" ON "notifications"("recipient_id", "is_read", "created_at" DESC);
-- CreateIndex
CREATE UNIQUE INDEX "staff_achievements_catalog_name_key" ON "staff_achievements_catalog"("name");
-- CreateIndex
CREATE UNIQUE INDEX "staff_unlocked_achievements_staff_id_achievement_id_key" ON "staff_unlocked_achievements"("staff_id", "achievement_id");
-- CreateIndex
CREATE UNIQUE INDEX "sys_settings_key_unique" ON "system_settings"("key");
-- CreateIndex
CREATE UNIQUE INDEX "telegram_sessions_telegram_chat_id_key" ON "telegram_sessions"("telegram_chat_id");
-- CreateIndex
CREATE UNIQUE INDEX "unique_chat_filter" ON "telegram_subscriptions"("telegram_chat_id", "filter_type");
-- CreateIndex
CREATE INDEX "idx_community_post_upvotes_post" ON "community_post_upvotes"("post_id");
-- CreateIndex
CREATE INDEX "idx_community_post_upvotes_user" ON "community_post_upvotes"("user_id");

-- AddForeignKey
ALTER TABLE "districts" ADD CONSTRAINT "districts_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "branches" ADD CONSTRAINT "branches_district_id_fkey" FOREIGN KEY ("district_id") REFERENCES "districts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "locations" ADD CONSTRAINT "locations_district_id_fkey" FOREIGN KEY ("district_id") REFERENCES "districts"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "role_permissions" ADD CONSTRAINT "role_permissions_permission_id_fkey" FOREIGN KEY ("permission_id") REFERENCES "permissions"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "role_permissions" ADD CONSTRAINT "role_permissions_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "roles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "profiles_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "profiles_district_id_fkey" FOREIGN KEY ("district_id") REFERENCES "districts"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "profiles_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "profiles_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "roles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_posts" ADD CONSTRAINT "community_posts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "vehicles" ADD CONSTRAINT "vehicles_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "vehicles" ADD CONSTRAINT "vehicles_floor_plan_bank_id_fkey" FOREIGN KEY ("floor_plan_bank_id") REFERENCES "bank_partners"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "vehicles" ADD CONSTRAINT "vehicles_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "trade_in_requests" ADD CONSTRAINT "trade_in_requests_assigned_staff_id_fkey" FOREIGN KEY ("assigned_staff_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "trade_in_requests" ADD CONSTRAINT "trade_in_requests_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "trade_in_requests" ADD CONSTRAINT "trade_in_requests_broker_id_fkey" FOREIGN KEY ("broker_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "trade_in_requests" ADD CONSTRAINT "trade_in_requests_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "trade_in_requests" ADD CONSTRAINT "trade_in_requests_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "inspections" ADD CONSTRAINT "inspections_inspector_id_fkey" FOREIGN KEY ("inspector_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "inspections" ADD CONSTRAINT "inspections_trade_in_id_fkey" FOREIGN KEY ("trade_in_id") REFERENCES "trade_in_requests"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "inspections" ADD CONSTRAINT "inspections_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_shifts" ADD CONSTRAINT "staff_shifts_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_shifts" ADD CONSTRAINT "staff_shifts_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_shifts" ADD CONSTRAINT "staff_shifts_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "conversations" ADD CONSTRAINT "conversations_assigned_staff_id_fkey" FOREIGN KEY ("assigned_staff_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "conversations" ADD CONSTRAINT "conversations_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "conversations" ADD CONSTRAINT "conversations_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "approval_logs" ADD CONSTRAINT "approval_logs_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "approval_logs" ADD CONSTRAINT "approval_logs_trade_in_id_fkey" FOREIGN KEY ("trade_in_id") REFERENCES "trade_in_requests"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "commissions" ADD CONSTRAINT "commissions_approved_by_fkey" FOREIGN KEY ("approved_by") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "commissions" ADD CONSTRAINT "commissions_beneficiary_id_fkey" FOREIGN KEY ("beneficiary_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "commissions" ADD CONSTRAINT "commissions_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "locations"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "commissions" ADD CONSTRAINT "commissions_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "crypto_audit_logs" ADD CONSTRAINT "crypto_audit_logs_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "profiles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "custom_orders" ADD CONSTRAINT "custom_orders_assigned_staff_id_fkey" FOREIGN KEY ("assigned_staff_id") REFERENCES "profiles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "custom_orders" ADD CONSTRAINT "custom_orders_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "locations"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "finance_plans" ADD CONSTRAINT "finance_plans_bank_id_fkey" FOREIGN KEY ("bank_id") REFERENCES "bank_partners"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "finance_plans" ADD CONSTRAINT "finance_plans_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "finance_plans" ADD CONSTRAINT "finance_plans_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "ledger_entries" ADD CONSTRAINT "ledger_entries_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "accounts"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "ledger_entries" ADD CONSTRAINT "ledger_entries_transaction_id_fkey" FOREIGN KEY ("transaction_id") REFERENCES "transactions"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_conversation_id_fkey" FOREIGN KEY ("conversation_id") REFERENCES "conversations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "messages" ADD CONSTRAINT "messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_recipient_id_fkey" FOREIGN KEY ("recipient_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "official_stamps" ADD CONSTRAINT "official_stamps_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_budgets" ADD CONSTRAINT "staff_budgets_approver_id_fkey" FOREIGN KEY ("approver_id") REFERENCES "profiles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_budgets" ADD CONSTRAINT "staff_budgets_auditor_id_fkey" FOREIGN KEY ("auditor_id") REFERENCES "profiles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_budgets" ADD CONSTRAINT "staff_budgets_requester_id_fkey" FOREIGN KEY ("requester_id") REFERENCES "profiles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_reviews" ADD CONSTRAINT "staff_reviews_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_tasks" ADD CONSTRAINT "staff_tasks_assigned_by_fkey" FOREIGN KEY ("assigned_by") REFERENCES "profiles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_tasks" ADD CONSTRAINT "staff_tasks_assigned_to_fkey" FOREIGN KEY ("assigned_to") REFERENCES "profiles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_tasks" ADD CONSTRAINT "staff_tasks_trade_in_id_fkey" FOREIGN KEY ("trade_in_id") REFERENCES "trade_in_requests"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_unlocked_achievements" ADD CONSTRAINT "staff_unlocked_achievements_achievement_id_fkey" FOREIGN KEY ("achievement_id") REFERENCES "staff_achievements_catalog"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "staff_unlocked_achievements" ADD CONSTRAINT "staff_unlocked_achievements_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "system_logs" ADD CONSTRAINT "system_logs_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "system_settings" ADD CONSTRAINT "system_settings_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "telegram_sessions" ADD CONSTRAINT "telegram_sessions_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE SET NULL ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "vehicle_expenses" ADD CONSTRAINT "vehicle_expenses_logged_by_fkey" FOREIGN KEY ("logged_by") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "vehicle_expenses" ADD CONSTRAINT "vehicle_expenses_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "vehicle_price_history" ADD CONSTRAINT "vehicle_price_history_changed_by_fkey" FOREIGN KEY ("changed_by") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "vehicle_price_history" ADD CONSTRAINT "vehicle_price_history_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "vehicles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "user_garages" ADD CONSTRAINT "user_garages_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_comments" ADD CONSTRAINT "community_comments_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "community_posts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_comments" ADD CONSTRAINT "community_comments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_event_rsvps" ADD CONSTRAINT "community_event_rsvps_event_id_fkey" FOREIGN KEY ("event_id") REFERENCES "community_events"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_event_rsvps" ADD CONSTRAINT "community_event_rsvps_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_events" ADD CONSTRAINT "community_events_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_follows" ADD CONSTRAINT "community_follows_follower_id_fkey" FOREIGN KEY ("follower_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_follows" ADD CONSTRAINT "community_follows_following_id_fkey" FOREIGN KEY ("following_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_notifications" ADD CONSTRAINT "community_notifications_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_notifications" ADD CONSTRAINT "community_notifications_comment_id_fkey" FOREIGN KEY ("comment_id") REFERENCES "community_comments"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_notifications" ADD CONSTRAINT "community_notifications_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "community_posts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_notifications" ADD CONSTRAINT "community_notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "sourcing_requests" ADD CONSTRAINT "sourcing_requests_assigned_staff_id_fkey" FOREIGN KEY ("assigned_staff_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "sourcing_requests" ADD CONSTRAINT "sourcing_requests_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "sourcing_requests" ADD CONSTRAINT "sourcing_requests_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "sourcing_matches" ADD CONSTRAINT "sourcing_matches_request_id_fkey" FOREIGN KEY ("request_id") REFERENCES "sourcing_requests"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_post_upvotes" ADD CONSTRAINT "community_post_upvotes_post_id_fkey" FOREIGN KEY ("post_id") REFERENCES "community_posts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;
-- AddForeignKey
ALTER TABLE "community_post_upvotes" ADD CONSTRAINT "community_post_upvotes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "profiles"("id") ON DELETE CASCADE ON UPDATE NO ACTION;